/* ================ Сбросс стилей ================ */

* {
    padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* ================ Общие стили ================ */

html, 
body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}

header {
    background-color: #2965F1;
    padding: 14px 0;
}

header span {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

/* ================ Первая секция ================ */

.main-section {
    background-color: #FAFAFF;
    height: 1024px;
    width: 1440px;
    top: 70px;
}

.main-title {
    color: #303030;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 60px;
}

.main-text {
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 20px;
}

.main-image {
    height: 508px;
    width: 715px;
    top: 230px;
}

/* ================ Вторая секция ================ */

.about-section {
    background-color: #fff;
    height: 883px;
    width: 1440px;
    top: 1094px;
}

select {
    margin-top: 100px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 9px 59px 8px 12px;
    
}

.section-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.frameworks-list {
    font-weight: 400;
    font-size: 16px;

}

.books-list {
    font-weight: 400;
    font-size: 16px;

}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}